

.header_doc_name{
    border: 1px solid gray;
    text-align: center;
    padding: 8px 16px;
    span,p{
        color:black !important
    }
}
.footer_doc{
    span,p,ul,li{
        color:black !important
    }
}